body{
    background-image: url(kiwkiw\ \(4\).png);
    min-height: 100vh;
    display: flex;
}
.list{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: auto;
    margin-right: 200px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px;
    gap: 40px;
}
.list .item img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: 0.5s;
}
.list .item:hover img{
    transform: scale(1.2);
}
.list .item{
    color: white;
    position: relative;
    transition: 0.5s;
}
.list .item:hover{
    opacity: 1;
    transform: translateY(0);
}
.list:hover .item:not(:hover){filter: blur(8px);}
